.inputTextBox{
    outline: none;
    width: 25vw;
    height: 5vh;
    padding: 1vh;
    transition: 0.4s;
    border: 1px solid #bd9fb1;
    border-radius: 10px;
}

.inputTextBox:focus{
    border: 2px solid #8f2e8f;
}
.searchButton{
    background-color: #bb3bbb;
    border-radius: 8px;
    width: 7vw;
    height: 5vh;
    transition: 0.3s;
    font-size: 2vh;
    outline: none;
    color: white;
}
.searchButton:hover{
    background-color: #7e227e;
    font-size: 2.5vh;
    width: 8vw;
    color: black;
}

.addButton{
    background-color: #39cf4d;
    border-radius: 50px;
    width: 7vw;
    height: 5vh;
    transition: 0.3s;
    font-size: 2.5vh;
    outline: none;
    color: white;
}
.addButton:hover{
    background-color: #0c4d2e;
    font-size: 2.5vh;
    width: 8vw;
    color: black;
}

.subtractButton{
    background-color: #e63342;
    border-radius: 50px;
    width: 7vw;
    height: 5vh;
    transition: 0.3s;
    font-size: 2.5vh;
    outline: none;
    color: white;
}
.subtractButton:hover{
    background-color: #791019;
    font-size: 2.5vh;
    width: 8vw;
    color: black;
}

.addOrSubtractAmount{
    outline: none;
    width: 15vw;
    height: 5vh;
    padding: 1vh;
    transition: 0.4s;
    border: 1px solid #bd9fb1;
    border-radius: 10px;
}

.addOrSubtractAmount:focus{
    border: 2px solid #8f2e8f;
}
