<div class="row">
  <div style="text-align:center">
      <br>
      <input class="inputTextBox" placeholder="Username" required [(ngModel)]="usertofindbox">
      <button type="submit" class="searchButton" (click)="getclient()">find client</button>
  </div>
  </div>
  
  <div class="row" *ngIf="displayUser">
      <app-userinfo></app-userinfo>
      <br>
  </div>
  
  <div class="row" style="position:absolute;top:80vh;left:60vw;">
      <div style="text-align:right; padding-right: 11vw;">
      
          <input class="addOrSubtractAmount" placeholder="Amount" required>
          <button type="submit" class="addButton">+</button>
          <button type="submit" class="subtractButton">-</button>
      </div>
  </div>