
<!--The content below is only a placeholder and can be replaced.-->
<div class="col-md-12">
  <div class="row" style="text-align:center">
      <h1>
          {{username}}
        </h1>
  </div>
    
  <div class="row">
<div class="col-md-6" style="text-align:center">
  
  <img width="300" alt="profile logo" src="assets/img/profilePhoto.jpg">
</div>

<div  class="col-md-6" style="text-align:center;padding-top: 20vh;">
  <div style="text-align:center">
    <h2>
      Current Balance 
    </h2>
    {{balance}} L.E
  </div>
</div>
</div>
</div>



